<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

    <title>UO Board Game Club</title>
</head>
<body>
<div class="container">
    <h2>UO Board Game Club</h2>

    <h3>Register a New Member</h3>
    <form id="registerForm">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="contact">Contact:</label>
        <input type="text" id="contact" name="contact" required>

        <button type="submit">Register</button>
    </form>

    <h3>Add a New Game Record</h3>
    <form id="gameForm">
        <label for="game_type">Game Type:</label>
        <select id="game_type" name="game_type" required>
            <option value="Avalon">Avalon</option>
            <option value="Werewolf">Werewolf</option>
        </select>

        <label for="game_name">Game Name:</label>
        <input type="text" id="game_name" name="game_name" required>

        <label for="date">Date:</label>
        <input type="date" id="date" name="date" required>

        <label for="participants">Participants (comma-separated):</label>
        <input type="text" id="participants" name="participants" required>

        <label for="result">Result:</label>
        <input type="text" id="result" name="result" required>

        <button type="submit">Add Game</button>
    </form>
</div>

<script>
    const url = 'https://uoboard.onrender.com'
    document.getElementById('registerForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = {
            name: formData.get('name'),
            contact: formData.get('contact')
        };
        const response = await fetch('url/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        const result = await response.json();
        alert(result.message);
    });

    document.getElementById('gameForm').addEventListener('submit', async function (event) {
        event.preventDefault();
        const formData = new FormData(event.target);
        const data = {
            game_type: formData.get('game_type'),
            game_name: formData.get('game_name'),
            date: formData.get('date'),
            participants: formData.get('participants'),
            result: formData.get('result')
        };
        const response = await fetch('url/add_game', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });
        const result = await response.json();
        alert(result.message);
    });
</script>
</body>
</html>